*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #ff66cc;
}
.header{
    display: flex;
    justify-content: center;
    margin-bottom: 2vh;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    height: 8vh;
    font-size: 5vh;
    font-family: 'Pacifico', cursive;
    border-radius:  0 0 10px 10px;
    background-color: blue;
}
.main{
    display: flex;
    justify-content: center;
}
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'Pacifico', cursive;
    width: 80%;
}
main div{
    width: 100%;
    text-align: center;
    font-size: large;
}
.image{
    max-width: 100%;
    margin: 2vh;
    font-size: 2em;
    text-align: center;
}
.text{
    display: none;
}
.spec{
    width:45%;
}
img{
    width: 100%; 
    border-radius: 10px;
    opacity: 0.6;
}
img:hover{
    opacity: 1;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vh;
    font-size: 30px;
    border-radius: 10px 10px 0 0;
    background-color: blue;
}

